@supports (display: grid) {
    html, body {
        width: 99%;
        height: 99%;
    }

    .index {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
    }

    .index__footer__grid-warning {
        display: none;
    }
}