.index {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 2em;
    background-color: aqua;
}

.title > * {
    margin: 0 0;
}

.content {
    display: flex;
    flex-direction: row;
}

.content > * {
    flex: 1;
}

.content__element {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer {
    background-color: aqua;
    padding: 0 1em;
}


.parent {
    background-color: white;
    z-index: 20;
    margin-bottom: 20px;
}
.parent > * + * {
    margin-top: -20px;
    box-shadow: 0 -1px 10px rgba(0 0 0 / 60%);
}

.parent > :first-child {
  background: aliceblue;
  border: 2px solid lightblue;
  z-index: 3;
}

.parent > :nth-child(2) {
  background: pink;
  border: 2px solid hotpink;
  z-index: 1;
  margin-left: 1rem;
}

.parent > :last-child {
  background: wheat;
  border: 2px solid gold;
  z-index: 2;
}

.child {
    width: 100px;
    height: 100px;
}