

.snowman__el {
    margin-left: 20px;

    width: 50px;
    height: 50px;
    position: absolute;
}

.snowman__el__1 {
    z-index: 1;
    margin-top: 1em;
    background-color: hsl(0, 0%, 95%);
    border: 1px solid black;
}

.snowman__el__2 {
    z-index: 2;

    width: 60px;
    margin-left: 15px;
    margin-top: 3em;

    background-color: hsl(0, 0%, 90%);
    border: 1px solid black;

    -webkit-animation: breathing 2s infinite;
    animation: breathing 2s infinite;
}

.snowman__el__3 {
    z-index: 3;

    width: 70px;
    margin-top: 5em;
    margin-left: 10px;

    background-color: hsl(0, 0%, 85%);
    border: 1px solid black;
}

.snowman__hand {
    position: absolute;
    width: 5px;
    height: 50px;

    background-color: black;
}

.snowman__hand__1 {
    margin-left: 77px;
    margin-top: 55px;
}

.snowman__hand__2 {
    z-index: 5;
    margin-left: 22px;
    margin-top: 55px;
}

.snowman__eye {
    z-index: 5;
    position: absolute;

    width: 5px;
    height: 5px;

    margin-left: 50px;
    margin-top: 30px;

    background-color: black;
    animation: blinking 5s infinite;
}

.snowman__nose {
    z-index: 5;
    position: absolute;

    width: 20px;
    height: 5px;

    margin-left: 65px;
    margin-top: 30px;

    background-color: orange;

    transition: width 2s ease-in-out;
}

.snowman__nose:hover {
    width: 40px;
}

@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
    100% {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
    100% {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    }
  }

  @keyframes blinking {
    0% {
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
      }
      95% {
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
      }
      100% {
        -webkit-transform: scale(0.2,0.2);
        transform: scale(0.2,0.2);
      }
  }